[submodule "Assets/latkUnity"]
	path = Assets/latkUnity
	url = https://github.com/LightningArtist/latkUnity
[submodule "Assets/latkxMagicLeap"]
	path = Assets/latkxMagicLeap
	url = https://github.com/n1ckfg/latkxMagicLeap
[submodule "Assets/latkxNetworking"]
	path = Assets/latkxNetworking
	url = https://github.com/n1ckfg/latkxNetworking
[submodule "Assets/latkxColorPicker"]
	path = Assets/latkxColorPicker
	url = https://github.com/n1ckfg/latkxColorPicker
